<div class="container">
    <div class="content">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th><th>Description</th><th>Price</th><th>To remove?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pizza of pizzas">
                    <td>{{ pizza.name }}</td>
                    <td>{{ pizza.description }}</td>
                    <td>{{ pizza.price }}</td>
                    <td><input type="checkbox" form="delForm" [id]="pizza.id" (change)="addToDelList(pizza.id)"></td>
                </tr>
            </tbody>
        </table>
        <form id="delForm">
        <button class="btn btn-lg btn-primary" type="submit" (click)="remove()">Delete selected pizzas</button>
        </form>
    </div>
</div>